
output/results.txt
src/resources/stanford-corenlp-full-2018-02-27/build.xml
src/resources/stanford-corenlp-full-2018-02-27/CoreNLP-to-HTML.xsl
src/resources/stanford-corenlp-full-2018-02-27/corenlp.sh
src/resources/stanford-corenlp-full-2018-02-27/ejml-0.23-src.zip
src/resources/stanford-corenlp-full-2018-02-27/ejml-0.23.jar
src/resources/stanford-corenlp-full-2018-02-27/input.txt
src/resources/stanford-corenlp-full-2018-02-27/input.txt.xml
src/resources/stanford-corenlp-full-2018-02-27/javax.json-api-1.0-sources.jar
src/resources/stanford-corenlp-full-2018-02-27/javax.json.jar
src/resources/stanford-corenlp-full-2018-02-27/joda-time-2.9-sources.jar
src/resources/stanford-corenlp-full-2018-02-27/joda-time.jar
src/resources/stanford-corenlp-full-2018-02-27/jollyday-0.4.9-sources.jar
src/resources/stanford-corenlp-full-2018-02-27/jollyday.jar
src/resources/stanford-corenlp-full-2018-02-27/LIBRARY-LICENSES
src/resources/stanford-corenlp-full-2018-02-27/LICENSE.txt
src/resources/stanford-corenlp-full-2018-02-27/Makefile
src/resources/stanford-corenlp-full-2018-02-27/patterns/example.properties
src/resources/stanford-corenlp-full-2018-02-27/patterns/goldnames.txt
src/resources/stanford-corenlp-full-2018-02-27/patterns/goldplaces.txt
src/resources/stanford-corenlp-full-2018-02-27/patterns/names.txt
src/resources/stanford-corenlp-full-2018-02-27/patterns/otherpeople.txt
src/resources/stanford-corenlp-full-2018-02-27/patterns/places.txt
src/resources/stanford-corenlp-full-2018-02-27/patterns/presidents.txt
src/resources/stanford-corenlp-full-2018-02-27/patterns/stopwords.txt
src/resources/stanford-corenlp-full-2018-02-27/pom.xml
src/resources/stanford-corenlp-full-2018-02-27/protobuf.jar
src/resources/stanford-corenlp-full-2018-02-27/README.txt
src/resources/stanford-corenlp-full-2018-02-27/RESOURCE-LICENSES
src/resources/stanford-corenlp-full-2018-02-27/SemgrexDemo.java
src/resources/stanford-corenlp-full-2018-02-27/ShiftReduceDemo.java
src/resources/stanford-corenlp-full-2018-02-27/slf4j-api.jar
src/resources/stanford-corenlp-full-2018-02-27/slf4j-simple.jar
src/resources/stanford-corenlp-full-2018-02-27/stanford-corenlp-3.9.1-javadoc.jar
src/resources/stanford-corenlp-full-2018-02-27/stanford-corenlp-3.9.1-models.jar
*.jar
src/resources/stanford-corenlp-full-2018-02-27/StanfordCoreNlpDemo.java
src/resources/stanford-corenlp-full-2018-02-27/StanfordDependenciesManual.pdf
src/resources/stanford-corenlp-full-2018-02-27/sutime/british.sutime.txt
src/resources/stanford-corenlp-full-2018-02-27/sutime/defs.sutime.txt
src/resources/stanford-corenlp-full-2018-02-27/sutime/english.holidays.sutime.txt
src/resources/stanford-corenlp-full-2018-02-27/sutime/english.sutime.txt
src/resources/stanford-corenlp-full-2018-02-27/sutime/spanish.sutime.txt
src/resources/stanford-corenlp-full-2018-02-27/tokensregex/color.input.txt
src/resources/stanford-corenlp-full-2018-02-27/tokensregex/color.properties
src/resources/stanford-corenlp-full-2018-02-27/tokensregex/color.rules.txt
src/resources/stanford-corenlp-full-2018-02-27/tokensregex/retokenize.txt
